* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.side-img-div {
    flex: 1;
    background-image: url('assets/mountains.jpg');
    background-color: #7685a0;
    background-size: cover;
    background-position: bottom;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title-div {
    margin: 200px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    padding-right: 100px;
    margin-left: 10px;
    text-align: center;
    display: flex;
}

.img-credits {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    color: #ccc;
}

.img-credits > a{
    color: #ccc;
}

.form-content {
    flex: 2;
    background-color: #eee;
}
