@font-face {
    font-family: NorseBold;
    src: url(./assets/fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --invalid-color: #af0202;
}

html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.side-img-div {
    flex: 1;
    background-image: url('assets/mountains.jpg');
    background-color: #7685a0;
    background-size: cover;
    background-position: bottom;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title-div {
    margin: 200px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    font-size: 90px;
    font-family: NorseBold, 'Times New Roman', Times, serif;
    color: #fff;
    padding-right: 100px;
    margin-left: 10px;
    text-align: center;
    display: flex;
}

.img-credits {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    color: #ccc;
}

.img-credits > a{
    color: #ccc;
}

.form-content {
    flex: 2;
    background-color: #f4fbff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-segment {
    background-color: #ffffff;
    margin: 40px 0;
    padding: 20px 40px;
    box-shadow: 0 5px 10px black;
}

input {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px
}

input:invalid {
    border: 1px solid var(--invalid-color);
}

input:invalid:focus {
    outline: 1px solid var(--invalid-color);
}

input:invalid + span::after {
    content: "This input is required";
    /* display: block; */
    font-size: 10px;
    color: var(--invalid-color);
    margin: 0;
    padding: 0;
}

.input-item{
    display: flex;
    flex-direction: column;
    margin: 10px 50px 10px 0;
}

.input-item > label {
    font-variant-caps: all-small-caps;
}

.form-wrapper {
    width: 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}